<li>
	{{name}}

	<button class="change-devoured" data-id="{{id}}" data-newdinner="{{devoured}}">
		{{#if devoured}}ENJOY BURGER!{{else}}STAY HUNGRY!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{id}}">DEVOUR!</button>
</li>
